.Xauthority
.bash_logout
.bash_profile
.bashrc
.cache/
.config/BraveSoftware/
.config/lf/shortcutrc
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-card-database.tdb
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-default-sink
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-default-source
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-device-volumes.tdb
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-runtime
.config/pulse/b4978bd7d2f0aafcfdbc6914607455f3-stream-volumes.tdb
.config/pulse/cookie
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/zsh/.zcompdump
.dbus/
.local/share/newsboat/
.local/share/nvim/
.local/share/weatherreport
.local/share/xorg/
.local/src/
.pki/
.ssh
.gitconfig
.local/share/lf/
